.addCommentForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--mid-grey);
    padding: 10px 0px;
}

.addCommentText {
    padding: 5px;
}

.addCommentBtn {
    font-size: 0.8rem;
    margin-left: 5px;
}

.commentFormDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

input::file-selector-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em 0.6em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--darkest-grey);
    cursor: pointer;
    transition: border-color 0.25s;
}

input::file-selector-button:hover {
    border-color: var(--light-accent);
}

.error {
    text-align: center;
    font-size: 1.5rem;
}

@media only screen and (min-width: 768px) { 
    .addCommentText {
        width: 600px;
        height: 80px;
        font-size: 0.9rem;
    }

    .addCommentBtn {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 980px) {
    .addCommentText {
        width: 800px;
    }
}