nav {
  position: fixed;
  top: 0;
  background-color: rgb(7, 7, 7);
  font-size: 1.3rem;
  height: 100px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.mainMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  margin: 5px 50px;
}

.loggedInAs {
  padding: 0px;
  margin: 5px;
  text-align: center;
  font-size: 1.2rem;
}
