.comment {
    background-color: rgb(153, 152, 152);
    margin: 10px;
    padding: 10px;
}

.commentImage {
    width: 100%;
}

.commentLikesDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.likeBtnComment {
    background-image: url("../assets/icons/like.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
    margin-right: 5px;
}

.commentLiked {
    background-image: url("../assets/icons/liked.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
    margin-right: 5px;
}

.commentMessage {
    margin-left: 5px;
    font-weight: 500;
    color: #161946;
}