.deletePostConfirm {
    width: 100%;
    position: absolute;
    background-color: var(--light-accent);
    padding: 30px;
    top: 0;
}

.deletePostText {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.2rem;
}

.deletePostBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.deletePostBtn {
    width: 40%;
}