.feed {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: var(--darkest-grey);
    width: 100vw;
}

.feedHeading {
    text-align: center;
    width: 100%;
    font-size: 2rem;
}

.noPosts {
    text-align: center;
    width: 100%;
}

.error {
    margin-top: 110px;
    text-align: center;
    font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .feed, 
    .error {
        margin-top: 160px;
    }
}