.likeUsers {
    display: flex;
    width: 250px;
    max-height: 120px;
    flex-direction: column;
    background-color: var(--light);
    border: 0.5px solid black;
    margin: 10px;
    overflow: auto;
}

.likeUsersTopDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: var(--darkest-accent);
}

.likeUsersTitle {
    padding-left: 10px;
    color: var(--light);
}

.close {
    text-align: end;
    padding-right: 10px;
    cursor: pointer;
    color: var(--light);
    font-weight: 700;
    font-size: 1.1rem;
}

.likeUser {
    display: flex;
    flex-direction: row;
    margin: 0px 5px 5px 5px;
}

.likeUserImage {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-right: 5px;
}

.likeUsername {
    color: black;
    font-size: 0.8rem;
}

.noLikesYet {
    padding: 10px;
}

.error {
    text-align: center;
    font-size: 1.5rem;
}