#loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 110px;
}

.loadingText {
    font-size: 1.5rem;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    #loading {
        margin-top: 160px;
    }
}