.loginSuccess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 110px;
}

.loginSuccessHeading {
    text-align: center;
}

#goToFeed {
    font-size: 2rem;
}