.loggedOut {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.loggedOutText {
    margin: 50px;
    font-size: 2rem;
}

.homeLink {
    font-size: 1.5rem;
}