.loggedOut {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-top: 110px;
}

.loggedOutText {
    margin: 50px;
    font-size: 2rem;
}

.homeLink {
    font-size: 1.5rem;
}

.error {
    margin-top: 110px;
    text-align: center;
    font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .loggedOut,
    .error {
        margin-top: 160px;
    }
}