nav {
    position: fixed;
    top: 0;
    background-color: black;
    font-size: 1.2rem;
    height: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.mainMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 100%;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    margin: 5px 0px;
}

.lowerNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.loggedInAs {
    text-align: center;
    font-size: 0.9rem;
}

.logout {
    text-decoration: none;
    background-color: var(--bright-accent);
    border: 1px solid transparent;
    color: var(--light);
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
    padding: 5px 10px;
    height: 25px;
    line-height: 25px;
    transition: border-color 0.25s;
}

.logout:hover {
    background-color: var(--dark-accent);
    border-color: var(--light-accent);
}

.addFriendsNavDiv {
    display: flex;
    flex-direction: row;
}

.requestNotification {
    color: var(--light);
    background-color: var(--alert);
    width: 20px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    margin-left: 10px;
    font-size: 0.9rem;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    nav {
        height: 150px;
    }

    .lowerNav {
        margin-top: 20px;
    }

    .requestNotification {
        width: 25px;
        height: 25px;
    }

    .profileImage {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (min-width: 980px) {
    .lowerNav {
        margin-top: 5px;
    }

    .profileImage {
        width: 80px;
        height: 80px;
    }
}