nav {
    position: fixed;
    top: 0;
    background-color: rgb(7, 7, 7);
    font-size: 1.2rem;
    height: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mainMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 100%;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    margin: 5px 0px;
}

.lowerNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.loggedInAs {
    text-align: center;
    font-size: 0.9rem;
}

.logout {
    text-decoration: none;
    background-color: darkblue;
    border: 1px solid transparent;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
    padding: 5px 10px;
    height: 25px;
    line-height: 25px;
    transition: border-color 0.25s;
}

.logout:hover {
    background-color: rgb(1, 1, 77);
    border-color: #646cff;
}

.requestNotification {
    position: absolute;
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
    width: 20px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    top: 10px;
    right: 20px;
    font-size: 0.9rem;
    font-weight: 500;
}