.profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 120px;
}

.profileHeading {
    font-size: 1.5rem;
}

.profileImageLarge {
    width: 250px;
}

.profileSubheading {
    font-size: 1rem;
    margin-left: 10px;
    font-weight: 500;

}

.profileDetail {
    font-size: 1rem;
}

.profileDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.profileLink {
    font-size: 1.2rem;
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    padding: 10px;
    text-align: center;
}

.profileLink:hover {
    color: #0713f3;
    cursor: pointer;
}

.addFollows {
    margin: 20px;
}

.followingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.following {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    border: 1px solid #646cff;
}

.followedUser {
    margin-left: 10px;
    text-align: center;
    padding: 10px;
}

#addFollows {
    margin: 20px;
}

.seeProfileBtn {
    cursor: pointer;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
}

.profileOption {
    margin: 0px 20px;
}

.error {
    margin-top: 120px;
    text-align: center;
    font-size: 1.5rem;
}
