.profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 110px;
}

.profileHeading {
    font-size: 1.5rem;
}

.profileDetailsMain {
    background-color: var(--darkest-accent);
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileImageLarge {
    width: 250px;
}

.profileDetail {
    font-size: 1rem;
    text-align: center;
    width: 100%;
}

.profileDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.profileLink {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--light-accent);
    text-decoration: inherit;
    padding: 10px;
    text-align: center;
}

.profileLink:hover {
    color: var(--bright-accent);
    cursor: pointer;
}

.addFriends {
    margin: 20px;
}

.friendsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--dark-grey);
}

.friendsHeading {
    font-size: 1.2rem;
    font-weight: 600;
}

.friends {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    border: 1px solid var(--light-accent);
}

.friend {
    margin-left: 10px;
    text-align: center;
    padding: 10px;
}

#addFriends {
    margin: 20px;
}

.seeProfileBtn {
    cursor: pointer;
    background-color: var(--bright-accent);
    color: var(--light);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
}

.profileOption {
    margin: 0px 20px;
}

.error {
    margin-top: 110px;
    text-align: center;
    font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .profilePage,
    .error {
        margin-top: 160px;
    }

    .profileDetails {
        font-size: 1.2rem;
    }
}
