.post {
    width: 100%;
    margin-bottom: 40px;
    background-color: var(--mid-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postUserDetails {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
}

.userDetails {
    display: flex;
    flex-direction: row;
}

.postUsernameTimestamp {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.postUsername {
    font-size: 1.1rem;
    font-weight: 600;
}

.postTimestamp {
    font-size: 0.9rem;
}

.postProfileImage {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.postOptions {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.postDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    width: 95%;
}

.postText {
    padding: 10px;
    color: black;
}

.postImage {
    width: 90%;
}

.likesDiv {
    display: flex;
    flex-direction: row;
    margin: 5px 10px 10px 10px;
    justify-content: start;
    align-items: center;
    width: 100%;
    color: black;
}

.likes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.postLikes {
    margin-right: 10px;
    cursor: pointer;
}
    

.postLikes:hover {
    color: var(--bright-blue);
}

.likeBtnPost {
    background-image: url("../assets/icons/likeblack.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
    margin: 0px 10px;
    transition: scale .5s ease-in-out;
    position: relative;
}

.likeBtnPost:hover, 
.postLiked:hover {
    transform: scale(1.3)
}

.postLiked {
    background-image: url("../assets/icons/likeblue.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
    margin: 0px 10px;
    transition: scale .5s ease-in-out;
}

.postMessage {
    margin-left: 10px;
    font-weight: 400;
    color: var(--bright-blue);
}

.updatePost {
    background-image: url("../assets/icons/edit.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
}

.deletePost {
    background-image: url("../assets/icons/delete.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
    margin-left: 10px;
}

.updatePost:hover {
    background-image: url("../assets/icons/editselected.svg");
}

.deletePost:hover {
    background-image: url("../assets/icons/deleteselected.svg");
}

.deleteConfirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deleteConfirmationText {
    text-align: center;
}

.deleteConfirmationBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.error {
    text-align: center;
    font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .updatePost,
    .deletePost, 
    .postLiked, 
    .likeBtnPost {
        width: 25px;
        height: 25px;
    }

    .postText {
        padding: 30px;
        font-size: 1.1rem;
    }

    .postUsername {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 980px) {
    .postText {
        padding: 35px;
        font-size: 1.2rem;
    }
}