.post {
    width: 100%;
    margin-bottom: 40px;
    background-color: rgb(116, 115, 115);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postError {
    text-align: center;
    margin-top: 110px;
}

.postUserDetails {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
}

.userDetails {
    display: flex;
    flex-direction: row;
}

.postUsernameTimestamp {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.postProfileImage {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.postOptions {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.postDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 95%;
}

.postText {
    padding: 10px;
    color: black;
}

.postImage {
    width: 90%;
}

.likesDiv {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    align-self: flex-start;
    align-items: center;
    color: black;
}

.likeBtnPost {
    background-image: url("../assets/icons/likeblack.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
    margin-right: 10px;
}

.postLiked {
    background-image: url("../assets/icons/liked.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
    margin-right: 10px;
}

.postMessage {
    margin-left: 5px;
    font-weight: 500;
    color: white;
    font-size: 1.5rem;
}

.updatePost {
    background-image: url("../assets/icons/edit.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
}

.deletePost {
    background-image: url("../assets/icons/delete.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
    margin-left: 10px;
}

.updatePost:hover {
    background-image: url("../assets/icons/editselected.svg");
}

.deletePost:hover {
    background-image: url("../assets/icons/deleteselected.svg");
}

.deleteConfirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deleteConfirmationText {
    text-align: center;
}

.deleteConfirmationBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



