.signup {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

.signupHeading {
    font-size: 2rem;
    font-weight: 500;
    padding: 20px 0;
}

.signupInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupLabel {
    color: var(--light);
}

.signupPasswordText {
    font-size: 0.8rem;
    font-style: italic;
}

.signupInput {
    margin: 10px;
    width: 300px;
    padding: 10px;
    font-size: 1.1rem;
}

.signupBtn {
    margin: 40px 10px;
    width: 300px;
}

.accountCreated {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
}

.error {
    margin-top: 110px;
    text-align: center;
    font-size: 1.5rem;
}

.toLogin, .tryAgain {
    font-size: 1.6rem;
    padding-top: 30px;
}

.errorPage {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errorPageHeading {
    font-size: 3rem;
    color: var(--alert)
}

@media only screen and (min-width: 768px) {
    .signup, 
    .accountCreated, 
    .error,
    .errorPage {
        margin-top: 160px;
    }
}