.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

.signupHeading {
    font-size: 1.5rem;
    font-weight: 500;
}

.signupInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupInput {
    margin: 10px;
    width: 300px;
    padding: 10px;
    font-size: 1.2rem;
}

.signupBtn {
    margin: 10px;
    width: 300px;
}

.accountCreated {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
}

.error {
    margin-top: 110px;
    text-align: center;
    font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .signUp, 
    .accountCreated, 
    .error {
        margin-top: 160px;
    }
}