.updateProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    text-align: center;
    margin-top: 110px;
}

.currentProfileImage {
    width: 200px;
    margin-bottom: 20px;
}

.updateProfileInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.updateProfileLabel {
    font-size: 1.1rem;
}

.updateProfileInput {
    margin: 10px;
    width: 300px;
    padding: 10px;
    font-size: 1.2rem;
}

.updateProfileBtn {
    margin: 10px;
    width: 300px;
}

.accountUpdated {
    margin-top: 110px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fileInputDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} 

.fileInputLabel {
    margin: 10px 0px;
}

#profileImage {
    margin: 10px 0px;
    padding-left: 10px;
}

input::file-selector-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5em 0.8em;
    font-size: 1.1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--darkest-accent);
    cursor: pointer;
    transition: border-color 0.25s;
}

input::file-selector-button:hover {
    border-color: var(--light-accent);
}

.error {
    margin-top: 110px;
    text-align: center;
    font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .updateProfile,
    .error {
        margin-top: 160px;
    }
}