.updateProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

.currentProfileImage {
    width: 200px;
    margin-bottom: 20px;
}

.updateProfileInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.updateProfileInput {
    margin: 10px;
    width: 300px;
    padding: 10px;
    font-size: 1.2rem;
}

.updateProfileBtn {
    margin: 10px;
    width: 300px;
}

.accountUpdated {
    margin-top: 110px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fileInputDiv {
    display: flex;
    flex-direction: row;
} 

.fileInputLabel {
    margin: 10px 0px;
}

#profileImage {
    margin-bottom: 20px;
}

input::file-selector-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5em 0.8em;
    font-size: 1.1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

input::file-selector-button:hover {
    border-color: #646cff;
}

.error {
    margin-top: 120px;
    text-align: center;
    font-size: 1.5rem;
}