.updatePostHeading {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.updatePostForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161946;
    padding: 20px 0px;
    width: 100vw;
}

.updatePostText {
    margin: 10px 0px;
}

.updatePostImage {
    width: 100px;
    height: 100px;
}

.updatePostBtns {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.postImageLabel {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-right: 10px;
}

.postUpdated {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.postUpdatedHeading {
    text-align: center;
    font-size: 1.5rem;
}