.usersList {
    margin-top: 110px;
    width: 100%;
}

.usersListHeading {
    font-size: 1.8rem;
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
}

.userImage {
    width: 200px;
    height: 200px;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: var(--light-grey);
}

.username {
    font-size: 1.3rem;
    color: black;
}

.noUsers {
    width: 100%;
    text-align: center;
}

#seeProfileBtn, 
.addFollowBtn {
    width: 200px;
}

.addFollowBtn, 
#seeProfileBtn, 
.goBack {
    text-decoration: none;
    cursor: pointer;
    background-color: var(--bright-blue);
    color: var(--light);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
    text-align: center;
}

.addFollowBtn:hover,
#seeProfileBtn:hover,
.goBack:hover {
    color: var(--light-blue);
    background-color: var(--dark-blue);
}

.goBack {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.error {
    margin-top: 110px;
    text-align: center;
    font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .usersList,
    .error {
        margin-top: 160px;
    }
}